.header{
    background-color: #008ea1
}
.test{
    text-align: center;
}
.fa-power-off{
    position: relative;
    float: right;
    right: 10px;
    top: 10px;
}
.fa-arrow-left{
    color: whitesmoke;
}
.test2,i{
    color: white;
}
.d1{
    position: relative;
    float: right;
}

/* #home:hover{
    background-color: rgb(6, 168, 168);

} */

/* .nav-link{
    width: 645px;
    display: flex;
    justify-content: center;
    background-color: #008ea1;
} */



/* .tab-content{
    background-color: white;
} */
.btn-warning{
    color: #ffaa06;
    position: relative;
    float: right;
    top: 450px;
    right: 20px;
    border-radius:50%;
    font-size: 1.5rem;
}

.collor{
   color: rgb(4, 83, 83);
   position: relative;
   float: right;
   right: 20px;
   border-radius: 50%;
   font-size: 1.5rem;
}

/* .collor1{
    background-color: #008ea1;
    border-radius: 20px;
    border: 1px solid #008ea1;
    width: 150px;
    position: relative;
    top: 500px;
    left: 20px;
    color: white;
} */
.collor2{
    background-color: #008ea1;
    border-radius: 20px;
    border: 1px solid #008ea1;
    width: 150px;
    position: relative;
    top: 450px;
    left: 20px;
    color: white;
}
.titre{
    color: black;
}
.fa-cube,.fa-clone{
    color:black;
    font-size: 1.5rem;
}
.nav-tabs:hover{
    background-color:#008ea1;
}
.bouton2{
    background-color:#ffaa06;
    border: 1px 1px 1px solid white;
}
.bouton1{
    background-color:#008ea1;
}